body{
	font-family: 'Droid Sans', serif;
	background:url('img/fond2.png') 0 0 no-repeat;
	background-size: 100% 100%;
}
.ad_container{
	margin-bottom:20px;
	height:100px;
	float:right;
}
.container{
	width:90%;
	margin:30px auto;
	margin-top:5%;
	padding:25px;
	min-height:200px;
	height:auto;	
}

.souscontainer{
	margin-left:12.5%;
	border:1px solid #996600;
	margin-top:10%;
	width:75%;
	border-radius:0.3em;
	background-color:white;
}

.map {
	display: block;
	width: 95%;
	height: 10em;
	margin: 0 auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #CCC;
	box-shadow: 0px 5px 20px #CCC;
}