body{
	background:url('img/fond2.png') 0 0 no-repeat;
	background-size: 100% 100%;
	font-family: 'Droid Sans', serif;
}

.container{
	width:100%;
	margin:30px auto;
	margin-top:5%;
}

.souscontainer{
	margin-left:12.5%;
	border:1px solid #996600;
	margin-top:18%;
	width:75%;
	border-radius:0.3em;
	background-color:white;
	font-size:30px;
}

.map {
	font-size:1.2em;
	display: block;
	width: 95%;
	height: 14em;
	margin: 0 auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #CCC;
	box-shadow: 0px 5px 20px #CCC;
}